{% extends "chat/base.html" %}
{% block content %}
{% if messages %}
    {% for message in messages %}
        {{ message }}
    {% endfor %}
{% endif %}
<div class="content-section">
<p class="article-content">Добро пожаловать в место для любителей почитать. Здесь вы сможете пообщаться в чатах с другими любителями книг, обсудить прочитанное и, возможно, найти новых товарищей, с которыми вас объединяет ваше хобби. Также можно подать объявление об обмене/покупке/отдаче даром книг из вашей домашней библиотеки.</p>
</div>
{% endblock %}
cd