{%extends "chat/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="mb-4">Приветствуем в месте для любителей почитать</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Зарегистрироваться</button>
        </div>
    </form>
    <div class="pt-3">
        <small class="text-muted">Уже есть аккаунт? <a class="m1-2" href="{% url 'login' %}">Вход</a></small>
    </div>
</div>
{% endblock content %}
